<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkConnect">

        <!-- Auth & register screens -->
        <activity android:name=".ui.auth.RegisterTypeActivity" />
        <activity android:name=".ui.auth.RegisterCompanyActivity" />
        <activity android:name=".ui.auth.RegisterEmployeeActivity" />

        <!-- Login is the launcher activity -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.manager.ManagerHomeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.employee.EmployeeHomeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.manager.PendingEmployeesActivity"
            android:exported="false" />

        <activity
            android:name=".ui.employee.VacationRequestsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.employee.NewVacationRequestActivity"
            android:exported="false" />

        <activity android:name=".ui.manager.PendingVacationRequestsActivity"
            android:exported="false" />

        <activity android:name=".ui.employee.MyProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ui.manager.CompleteManagerProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ui.manager.EditEmployeeProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.manager.TeamsActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.manager.EditTeamActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.employee.MyShiftsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manager.ScheduleShiftsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manager.ManageShiftTemplatesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.employee.MyAvailabilityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.employee.ShiftReplacementActivity"
            android:exported="false" />

        <activity
            android:name=".ui.manager.SwapApprovalsActivity"
            android:exported="false"/>



    </application>
</manifest>
